<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta  name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practice writting</title>
  <link href="../static/styles.css" rel="stylesheet"/>
 </head>
  <body>
    <form action="/" method="post">
      <input type="checkbox" id="punctuation-marks" name="punctuation-marks" value="punctuation marks">
      <label for="punctuation-marks">punctuation marks</label>
      <input type="checkbox" id="adjectives" name="adjectives" value="adjectives">
      <label for="adjectives">adjectives</label>
      <input type="checkbox" id="adverbs" name="adverbs" value="adverbs">
      <label for="adverbs">adverbs</label>
      <input type="checkbox" id="verbs" name="verbs" value="verbs">
      <label for="verbs">verbs</label>
      <button type="submit">Remove</button>
      <textarea name="text" id ="text" rows="50" cols="200">{{ text }}</textarea>
    </form>   
    <script>
    // Get the textarea element
    const textarea = document.getElementById('text');
    // If the modified text is not empty, update the textarea value
    {% if text %}
    textarea.value = '{{ text }}';
    {% endif %}
</script>

  </body>
</html>

